@import "primeicons/primeicons.css";

body {
    overflow: hidden;
    height: 100% !important;
    width: 100% !important;
    position: absolute;
}

.mapviewer-renderlayer {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    -o-user-select:none;
}

#mapViewContainer .cesium-widget-credits {
    display:none !important;
}

/* Shared styles for both panels */
.panel {
    color: white;
    font-size: large;
    background-color: rgba(91, 91, 91, 0.7);
    font-family: monospace;
    position: absolute;
    top: 10px;
    border-radius: 10px;
    overflow: hidden;
    height: 22px;
    padding: 1em;
    width: calc(50% - 65px);
}

.panel.expanded {
    max-height: calc(100vh - 60px);
    height: auto;
}

@media (max-width: 768px) {
    .panel {
        width: calc(100% - 70px);
        position: relative;
        left: auto !important;
        right: auto !important;
        top: auto;
        margin: 10px;
    }

    .panel.expanded {
        max-height: calc(100vh - 120px);
    }
}

/* Base style for the toggle-indicator */
.toggle-indicator::before {
    content: '';
    border-style: solid;
    display: inline-block;
    margin-right: 5px; /* A bit of margin for spacing */
    vertical-align: middle; /* Align with the text */
}

.panel .toggle-indicator {
    width: 18px;
    display: inline-block;
}

/* Triangle pointing right for the collapsed state */
.panel .toggle-indicator::before {
    border-width: 5px 5px 5px 8px;
    border-color: transparent transparent transparent white;
}

/* Triangle pointing down for the expanded state */
.panel.expanded .toggle-indicator::before {
    border-width: 8px 5px 0 5px;
    border-color: white transparent transparent transparent;
}

/* Specific styles for the info panel */

#info {
    position: absolute;
    right: 38px;
    bottom: 0;
    justify-content: center;
    display: flex;
    font-size: smaller;
    background-color: rgba(#fff, 0.25);
    color: black;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    line-height: 1.5rem;
    padding-bottom: 0.25rem;
}

//#info > #controls {
//    display: block;
//}

//#info > #maps {
//    display: block;
//}

//#info > #maps > div {
//    margin-top: 0.5em;
//    margin-bottom: 0;
//}

//#info.expanded > #controls {
//    display: block;
//}
//
//#info.expanded > #maps {
//    display: block;
//}

/* Specific styles for the selection panel */

#selectionPanel {
    right: 30px;
}

#selectionPanel.expanded {
    overflow-y: scroll;
    scrollbar-width: thin;
    overflow-x: hidden;
}

#selectionPanel > pre {
    display: none;
}

#selectionPanel.expanded > pre {
    display: block;
}

.p-speeddial-direction-up {
    &.speeddial-left {
        left: 0.5rem;
        bottom: 5rem;
    }

    .p-speeddial-button {
        width: 3rem;
        height: 3rem;
    }
}

.help-button {
    width: 3rem;
    height: 3rem;
    left: 0.5rem;
    bottom: 1.5rem;
    position: absolute;

    .p-button {
        border-radius: 50%;
        padding: 0.8rem 0;
    }
}

.layers-button {
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    width: 3rem;
    height: 3rem;
}

.card {
    background-color: rgba(#fff, 1.0);
    border-radius: 10px;
    margin-bottom: 1rem;

    .p-tree {
        border: none;
    }
}

.p-tooltip {
    max-width: none;
}

.inspect-panel {
    position: absolute;
    top: 1em;
    right: 0.5em;
    width: 30em;
    height: 90%;

    .p-tree {
        border: none;
        padding: 0;
    }

    .p-accordion-header .p-accordion-header-link {
        padding: 0.8rem;
    }

    .p-accordion-content {
        padding: 0;
    }

    .filter-input {
        height: 2rem;
        width: 25rem;
        padding-left: 2rem;
        border-radius: 6px;
        border: solid 1px lightgray;
    }

    .p-treetable-header {
        padding: 0.5rem;
    }

    table {
        font-size: smaller;

        td {
            padding: 0;
        }

        .p-treetable-toggler {
            margin: 0;
            width: 1.25rem;
            height: 1.25rem;
        }
    }
}

.search-input {
    width: 20%;
    height: 3rem;
    position: absolute;
    top: 1rem;
    left: 40%;

    input {
        width: 100%;
        height: 100%;
        padding-left: 2rem;
        border-radius: 6px;
        border: solid 1px lightgray;
    }
}

.p-overlaypanel-content {
    & > div:first-child {
        .p-divider {
            display: none;
        }
    }

    .search-option {
        text-align: left;
        font-size: medium;
        margin: 0;
        background: none;
        border: none;
        cursor: pointer;

        span {
            font-weight: bold;
        }
    }
}

.map-layer-dialog {
    .p-dialog-content {
        padding: 1rem;
    }
}

.map-tab {
    .p-accordion-header-link {
        padding: 0.8rem;
    }

    .p-accordion-content {
        padding: 0;
    }

    .layer-tab {
        .p-accordion-tab {
            margin-bottom: 0;
        }

        .p-accordion-content {
            border: none;
        }
    }
}


