.ds-config-dialog {
  .p-dialog {
    width: 50vw;
    min-width: 25em;
    margin: 0;
  }

  .p-dialog-content {
    padding: 0 1em 1em 1em;
  }

  .p-dialog-header {
    padding: 1em 1em 0 1em;

    .p-dialog-title {
      font-size: large;
    }
  }
}

.ds-fieldset {
  .p-fieldset {
    margin-bottom: 0.5em;

    .p-fieldset-legend {
      padding: 0.5em;
      border: 1px solid var(--p-content-border-color);
      color: var(--p-content-color);
      background: var(--p-content-background);
      font-weight: 700;
      border-radius: 6px;
      font-size: 1em;
    }

    .p-fieldset-content {
      padding: 0;
      font-size: 0.9em;

      formly-field {
        width: 100%;
      }

      .p-field {
        display: flex;
        gap: 1em;
        align-items: center;
        margin-bottom: 0.25em;

        label {
          width: 10em;
        }

        formly-field-primeng-input {
          width: 100%;
        }

        formly-field-primeng-select {
          width: 100%;
        }

        input {
          width: 100%;
        }
      }
    }
  }
}

.tilesource-select-dialog {
  margin: 0;

  .p-dialog {
    min-width: 36em;
    height: 15em;
  }

  .p-dialog-header {
    padding: 0.75em !important;
    height: 2.5em !important;
  }

  .p-dialog-content {
    padding: 0.5em !important;
  }

  .tilesource-options {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .main-dropdown {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 0.5em;

      div:first-child {
        width: 100%;
      }

      .p-inputtext {
        width: 100%;
        height: 2.35em;
      }

      button {
        padding-left: 0;
        padding-right: 0;
        width: 2.4em;
        height: 2.4em;
        box-shadow: none;
      }
    }

    .p-dropdown {
      width: 100%;
    }

    .p-select {
      width: 100%;

      .p-select-label {
        height: 2.3em;
      }
    }
  }
}

